<!DOCTYPE html>
<html>

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/WebPage">
    <meta itemprop="url" content="getpagr.com">
    <meta itemprop="name" content="Pager App">
    <meta itemprop="description" content="Facebook Pages meet the web">
    <meta itemprop="image" content="http://getpagr.com/images/preview.png">

    <!-- {% include header.html %} -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- {% include footer.html %} -->

  </body>

</html>
